html {
    width: 350px;
}

.label_input {
    display: block;
    margin-top: 5px;
}

.label_input input {
    width: 334px;
    margin-top: 3px;
    border: .5px solid grey;
    border-radius: 3px;
}

.label_input select {
    font-size: smaller;
}

.label_input button {
    margin-top: 5px;
    margin-right: 5px;
}